#sidebar {
    box-sizing: border-box;
    min-height: 100vh;
    height: auto;
    width: var(--sidebar-width);
    padding: 5px 1em;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    border-right: 1px solid var(--line-clr);
    transition: width 300ms cubic-bezier(.4,0,.2,1);
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar.close {
    width: var(--sidebar-width-collapsed);
    padding: 5px;
}

#sidebar ul {
    list-style: none;
    padding-left: 1px;
}

#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

#sidebar ul li.active a {
    color: var(--accent-color);
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--sidebar-text);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--sidebar-text);
}

#sidebar a span,
#sidebar .dropdown-btn span {
    flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
    background-color: var(--accent-color);
    color: var(--sidebar-bg);
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

#sidebar .sub-menu > div {
    overflow: hidden;
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-left: 2em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
}

#toggle-btn:hover {
    background-color: var(--accent-color);
    color: var(--sidebar-bg);
}

@media(max-width: 800px) {
    #sidebar {
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;
    }
    #sidebar > ul {
        padding: 0;
        display: grid;
        grid-auto-columns: 60px;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: scroll;
    }
    #sidebar ul li {
        height: 100%;
    }
    #sidebar ul a,
    #sidebar ul .dropdown-btn {
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
    }
    #sidebar ul li span,
    #sidebar ul li:first-child,
    .dropdown-btn svg:last-child {
        display: none;
    }
    #sidebar ul li .sub-menu.show {
        position: fixed;
        bottom: 60px;
        left: 0;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        background-color: var(--accent-color);
        border-top: 1px solid var(--line-clr);
        display: flex;
        justify-content: center;
    }
    #sidebar ul li .sub-menu.show > div {
        overflow-x: auto;
    }
    #sidebar ul li .sub-menu.show li {
        display: inline-flex;
    }
    #sidebar ul li .sub-menu.show a {
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
    }
}