{% extends "base.html" %}
{% load static %}
{% block title %}Administración General{% endblock %}
{% block content %}


<h1 class="mb-4">Administración de Generales</h1>

<div class="row">
  {% if user.is_superuser or user.perfil.rol == 'superadmin' %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100 card-hover">
        <div class="card-body text-center">
          <h5 class="card-title">Documentos</h5>
          <p class="display-4"><i class="bi bi-file-earmark-text"></i></p>
          <p class="card-text">Administración de documentos</p>
          <a href="{% url 'admin_documentos' %}" class="btn btn-danger shadow">Administrar Documentos</a>
        </div>
      </div>
    </div>
  {% endif %}
    {% if user.is_superuser or user.perfil.rol == 'superadmin' %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100 card-hover">
        <div class="card-body text-center">
          <h5 class="card-title">Documentos Storage</h5>
          <p class="display-4"><i class="bi bi-file-earmark-text"></i></p>
          <p class="card-text">Administración de documentos Storage</p>
          <a href="{% url 'listar_archivos_storage' %}" class="btn btn-danger shadow">Administrar Documentos Storage</a>
        </div>
      </div>
    </div>
  {% endif %}
    {% if user.is_superuser or user.perfil.rol == 'superadmin' %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100 card-hover">
        <div class="card-body text-center">
          <h5 class="card-title">Lista de Servicios</h5>
          <p class="display-4"><i class="bi bi-file-earmark-text"></i></p>
          <p class="card-text">Administración de servicios</p>
          <a href="{% url 'lista_servicios' %}" class="btn btn-danger shadow">Administrar Servicios</a>
        </div>
      </div>
    </div>
  {% endif %}
    {% if user.is_superuser or user.perfil.rol == 'superadmin' %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100 card-hover">
        <div class="card-body text-center">
          <h5 class="card-title">Gestión de Licencias</h5>
          <p class="display-4"><i class="bi bi-file-earmark-bar-graph"></i></p>
          <p class="card-text">Administración de periodos de licencia, límites de hojas y almacenamiento</p>
          <a href="{% url 'lista_licencias' %}" class="btn btn-primary shadow">Gestionar Licencias</a>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}