{% load static form_filters %}
<!-- Modal de edición -->
        <div class="modal fade" id="editarUsuarioModal{{ usuario.pk }}" tabindex="-1" aria-labelledby="editarUsuarioModalLabel{{ usuario.pk }}" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <form method="post" action="{% url 'usuario_update' usuario.pk %}">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="editarUsuarioModalLabel{{ usuario.pk }}">Editar Usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h4>Datos de Usuario</h4>
                      {{ edit_forms|dict_get:usuario.pk|dict_get:"user_form"|as_p }}
                    </div>
                    <div class="col-md-6">
                      <h4>Perfil</h4>
                      {{ edit_forms|dict_get:usuario.pk|dict_get:"perfil_form"|as_p }}
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
